.index-table,
.task-detail,
.task-list-statistics,
.task-list-table,
.worker-detail,
.worker-list,
.team-list,
.team-detail,
.worker-tasks,
.project-table,
.project-detail {
    border-collapse: collapse;
    border: 1px solid black;
    padding: 8px;
}

.index-table td, .index-table th,
.task-detail td, .task-detail th,
.task-list-statistics td, .task-list-statistics th,
.task-list-table td, .task-list-table th,
.worker-detail td, .worker-detail th,
.worker-list td, .worker-list th,
.team-list td, .team-list th,
.team-detail td, .team-detail th,
.worker-tasks td, .worker-tasks th,
.project-table td, .project-table th,
.project-detail td, .project-detail th {
    padding: 8px;
    border: 1px solid black;
}

.sidebar {
    margin-left: 0;
    padding-left: 0;
    list-style-type: none;
}