{% extends "base.html" %}
{% block content %}
  <h1>Welcome to the Task Manager</h1>
  <h2>Manage your team, assign tasks, and track progress efficiently</h2>
  {% if tasks %}
    <h3>Latest 5 added tasks</h3>
    <table class="index-table">
      <thead>
      <tr>
        <th>Name</th>
        <th>Priority</th>
        <th>Deadline</th>
        <th>Task type</th>
        <th>Tags</th>
        <th>Progress</th>
      </tr>
      </thead>
      <tbody>
      {% for task in tasks %}
        <tr>
          <td>
            <a href="{% url 'tasks:task-detail' task.id %}">{{ task.name }}</a>
          </td>
          <td>{{ task.priority }}</td>
          <td>{{ task.deadline }}</td>
          <td>{{ task.task_type }}</td>
          <td>
            {% for tag in task.tags.all %}
              {{ tag.name }}{% if not forloop.last %},{% endif %}
            {% endfor %}
          </td>
          <td>{% if task.is_complete %}Done{% else %}In Progress{% endif %}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  {% else %}
    <h2>No tasks were found</h2>
  {% endif %}
  {% if projects %}
    <br>
    <h3>Latest 5 added project</h3>
    <table class="index-table">
      <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Total tasks</th>
        <th>Active teams</th>
      </tr>
      </thead>
      <tbody>
      {% for project in projects %}
        <tr>
          <td>
            <a href="{% url 'tasks:project-detail' project.id %}">{{ project.name }}</a>
          </td>
          <td>{{ project.description }}</td>
          <td>{{ project.tasks.count }}</td>
          <td>
            {% for team in project.team.all %}
              {{ team.name }}{% if not forloop.last %},{% endif %}
            {% empty %}
              -
            {% endfor %}
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  {% endif %}
{% endblock %}
