{% extends "base.html" %}
{% block content %}
  <h1>Project Tasks</h1>
  <form method="get" action="" class="mb-4">
    <div class="d-flex align-items-center">
      {{ search_form }}
      <input type="submit" class="btn btn-primary btn-sm ms-2">
    </div>
  </form>
  {% if tasks %}
    <table class="table table-striped table-bordered">
      <thead>
      <tr>
        <th>Task Name</th>
        <th>Description</th>
        <th>Deadline</th>
        <th>Status</th>
        <th>Priority</th>
        <th>Task Type</th>
        <th>Tags</th>
        <th>Project</th>
      </tr>
      </thead>
      <tbody>
      {% for task in tasks %}
        <tr>
          <td>
            <a href="{% url 'tasks:task-detail' task.id %}" class="project-tasks">{{ task.name }}</a>
          </td>
          <td>{{ task.description }}</td>
          <td>{{ task.deadline }}</td>
          <td>
            {% if task.is_complete %}
              <span class="badge bg-success">Done</span>
            {% else %}
              <span class="badge bg-warning text-dark">In Progress</span>
            {% endif %}
          </td>
          <td>{{ task.get_priority_display }}</td>
          <td>{{ task.task_type }}</td>
          <td>
            {% for tag in task.tags.all %}
              {{ tag.name }}{% if not forloop.last %}, {% endif %}
            {% endfor %}
          </td>
          <td>{{ task.project.name }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  {% else %}
    <h2>Tasks cannot be found</h2>
  {% endif %}
{% endblock %}
