{% extends "base.html" %}
{% block content %}
  <h1>Dashboard</h1>
  <br>
  <h2>Key statistics</h2>
  <table class="task-list-statistics">
    <thead>
    <tr>
      <th>Name</th>
      <th>amount</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>workers</td>
      <td>{{ num_workers }}</td>
    </tr>
    <tr>
      <td>Projects</td>
      <td>{{ num_projects }}</td>
    </tr>
    <tr>
      <td>tasks</td>
      <td>{{ num_tasks }}</td>
    </tr>
    <tr>
      <td>In Progress</td>
      <td>{{ num_in_progress }}</td>
    </tr>
    <tr>
      <td>Done</td>
      <td>{{ num_done }}</td>
    </tr>
    </tbody>
  </table>
  <br>
  <h2>
    Tasks Table
    <a href="{% url 'tasks:task-create' %}">
      Add task
    </a>
  </h2>
  <form method="get" action="">
    {{ search_form }}
    <input type="submit">
  </form>
  {% if task_list %}
    <table class="task-list-table">
      <thead>
      <tr>
        <th>Name task</th>
        <th>Priority</th>
        <th>Assignees</th>
        <th>Deadline</th>
        <th>Status</th>
        <th>Task type</th>
        <th>Progress</th>
      </tr>
      </thead>
      <tbody>
      {% for task in task_list %}
        <tr>
          <td><a href="{% url 'tasks:task-detail' task.id %}">{{ task.name }}</a></td>
          <td>{{ task.priority }}</td>
          <td>
            {% for assignee in task.assignees.all %}
              {{ assignee.first_name }} {{ assignee.last_name }}{% if not forloop.last %}, {% endif %}
            {% empty %}
              -
            {% endfor %}
          </td>
          <td>{{ task.deadline|date:"Y-m-d H:i" }}</td>
          <td>{% if task.is_complete %}Done{% else %}In Progress{% endif %}</td>
          <td>{{ task.task_type.name }}</td>
          <td>{% if task.is_complete %}Done{% else %}In Progress{% endif %}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  {% else %}
    <h2>Cannot find tasks</h2>
  {% endif %}
{% endblock %}
