{% extends "base.html" %}
{% block content %}
  <h1>Detail about this task:<a href={% url 'tasks:task-update' task.id %}>Update</a>
    <a href="{% url 'tasks:task-delete' task.id %}">Delete</a>
  </h1>
  <table class="task-detail">
    <thead>
    <tr>
      <th>Name task</th>
      <th>Description</th>
      <th>Task type</th>
      <th>Tags</th>
      <th>Priority</th>
      <th>Project</th>
      <th>Teams Involved</th>
      <th>Assignees</th>
      <th>Deadline</th>
      <th>Status</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>{{ task.name }}</td>
      <td>{{ task.description }}</td>
      <td>{{ task.task_type.name }}</td>
      <td>
        {% for tag in task.tags.all %}
          {{ tag.name }}{% if not forloop.last %},{% endif %}
        {% endfor %}
      </td>
      <td>{{ task.priority }}</td>
      <td>{{ task.project }}</td>
      <td>
        {% for team in task.project.team.all %}
          {{ team.name }}{% if not forloop.last %},{% endif %}
        {% endfor %}
      </td>
      <td>
        {% for assignee in task.assignees.all %}
          {{ assignee.first_name }} {{ assignee.last_name }}{% if not forloop.last %}, {% endif %}
        {% empty %}
          -
        {% endfor %}
      </td>
      <td>{{ task.deadline|date:"Y-m-d H:i" }}</td>
      <td>{% if task.is_complete %}Done{% else %}In Progress{% endif %}</td>
    </tr>
    </tbody>
  </table>
{% endblock %}