{% extends "base.html" %}
{% block content %}
  <h1>About worker:</h1>
  <form method="get" action="">
    {{ search_form }}
    <input type="submit">
  </form>
  <table class="worker-detail">
    <thead>
    <tr>
      <th>Full name</th>
      <th>Position</th>
      <th>Username</th>
      <th>Email</th>
      <th>Task</th>
      <th>Task type</th>
      <th>Task deadline</th>
      <th>Task status</th>
    </tr>
    </thead>
    <tbody>
    {% for task in tasks %}
      <tr>
        <td>{{ worker.first_name }} {{ worker.last_name }}</td>
        <td>{{ worker.position }}</td>
        <td>{{ worker.username }}</td>
        <td>{{ worker.email }}</td>
        <td>{{ task.name }}</td>
        <td>{{ task.task_type.name }}</td>
        <td>{{ task.deadline|date:"Y-m-d H:i" }}</td>
        <td>{% if task.is_complete %}Done{% else %}In Progress{% endif %}</td>
      </tr>
    {% empty %}
      <tr>
        <td>{{ worker.first_name }} {{ worker.last_name }}</td>
        <td>{{ worker.position }}</td>
        <td>{{ worker.username }}</td>
        <td>{{ worker.email }}</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}
