{% extends "base.html" %}
{% block content %}
  <h1>
    About worker:
    <a href="{% url 'tasks:worker-update' worker.id %}">Update</a>
    <a href="{% url 'tasks:worker-delete' worker.id %}">Delete</a>
    <a href="{% url 'tasks:worker-tasks' worker.id %}">All task this employee</a>
  </h1>
  <table class="worker-detail">
    <thead>
    <tr>
      <th>Full name</th>
      <th>Username</th>
      <th>Email</th>
      <th>Position</th>
      <th>Team</th>
      <th>Total task</th>
    </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ worker.first_name }} {{ worker.last_name }}</td>
        <td>{{ worker.username }}</td>
        <td>{{ worker.email }}</td>
        <td>{{ worker.position }}</td>
        <td>{{ worker.team.name }}</td>
        <td>{{ worker.task_set.count }}</td>
      </tr>
    </tbody>
  </table>
{% endblock %}
