{% extends "base.html" %}
{% block content %}
  <h1>
    Employee information
    <a href="{% url 'tasks:worker-create' %}">Add new employee</a>
  </h1>
  <form method="get" action="">
    {{ search_form }}
    <input type="submit">
  </form>
  {% if worker_list %}
    <table class="worker-list">
      <thead>
      <tr>
        <th>Username</th>
        <th>Full name</th>
        <th>Position</th>
        <th>Email</th>
        <th>Joined</th>
        <th>Team</th>
        <th>Total tasks</th>
      </tr>
      </thead>
      <tbody>
      {% for worker in worker_list %}
        <tr>
          <td>
            <a href="{% url 'tasks:worker-detail' worker.id %}">
              {{ worker.username }}
            </a>
          </td>
          <td>
            {{ worker.first_name }} {{ worker.last_name }}
          </td>
          <td>{{ worker.position }}</td>
          <td>{{ worker.email }}</td>
          <td>{{ worker.date_joined|date:"Y-m-d" }}</td>
          <td>{{ worker.team }}</td>
          <td>{{ worker.task_set.count }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>No workers found.</p>
  {% endif %}
{% endblock %}
