{% extends "base.html" %}
{% block content %}
  <h1>Employee information</h1>

  {% if worker_list %}
    <table class="worker-list">
      <thead>
      <tr>
        <th>Full name</th>
        <th>Username</th>
        <th>Position</th>
        <th>Email</th>
        <th>Joined</th>
        <th>Total tasks</th>
      </tr>
      </thead>
      <tbody>
      {% for worker in worker_list %}
        <tr>
          <td>
            <a href="{% url 'tasks:worker-detail' worker.id %}">
              {{ worker.first_name }} {{ worker.last_name }}
            </a>
          </td>
          <td>{{ worker.username }}</td>
          <td>{{ worker.position }}</td>
          <td>{{ worker.email }}</td>
          <td>{{ worker.date_joined|date:"Y-m-d" }}</td>
          <td>{{ worker.task_set.count }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>No workers found.</p>
  {% endif %}
{% endblock %}
